/* botão */
.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--grad-1);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, green0, 0, 0.1);
  text-transform: uppercase;
  color: var(--p05);
  font: var(--font-1-b-m);
  font-size: 1.25rem;
  line-height: 1.33;
  /* tamanho interno exato ao tamanho do conteúdo */
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao.secundario {
  background: var(--c10);
  color: var(--c02);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background-image: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao.secundario:hover {
  background: var(--c09);
}

.botao:hover {
  background: var(--grad-2);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font: 1rem;
  }
}

.link {
  /* faz aceitar valores de margim e padding */
  display: inline-block;
  font: var(--font-1-b-l);
  color: var(--p01);
  text-transform: uppercase;
  letter-spacing: 1.25px;

  /* para consertar desajuster causado pelo position: absolute no after */
  position: relative;
}

.link:hover {
  color: var(--p03);
}

.link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: currentColor; /* utiliza cor do pai*/
  margin-top: 4px;
  /* faz com que decoração não acrescente na altura definida para o elemento */
  position: absolute;
}

/* título páginas internas */

.titulo-bg {
  background: var(--c11) url("../../img/dec/top-right.svg") no-repeat top 40px
    right 60px;
}

.titulo {
  padding: 60px 20px;
}

.titulo h1 {
  font: var(--font-1-b-xxl);
  color: var(--c01);
}

.titulo h1 span {
  color: var(--p01);
}

.titulo p {
  font: var(--font-2-b-l);
  color: var(--c05);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .titulo-bg {
    background: var(--c11);
  }
  .titulo {
    padding: 40px 20px;
  }

  .titulo p {
    font-size: 1rem;
    font-weight: 400;
  }
}
