.footer-bg {
  background-color: var(--c12);
}

.footer {
  padding: 60px 20px;
  display: grid;
  gap: 40px;
  grid-template-columns: 3fr 5fr 4fr;
}

.footer img {
  grid-column: 1;
}

.footer h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--c01);
  font: var(--font-2-b-l);
  margin-bottom: 2rem;
}

.footer ul {
  color: var(--c05);
  font: var(--font-2-l);
}

.footer-copy {
  font: var(--font-2-s);
  color: var(--c06);
  grid-column: 1/-1;
  padding-bottom: 1rem;
}

.footer li {
  margin-bottom: 1rem;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer-contato li:nth-child(even):after {
  /* even - seleciona pares */
  content: "";
  display: block;
  max-width: 300px;
  height: 2px;
  background-color: var(--c11);
  margin-top: 16px;
}

.footer a:hover {
  color: var(--c01);
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
    padding-bottom: 1rem;
  }
}
